

a {
  text-decoration: none;
}




.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}



a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.twit-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.twit {
  flex: 0 1 28%;
  display: flex;
  margin: 20px;
  padding: 40px;
  border: 1px solid #dadada;
  border-radius: 33px;
  background-color: #fff;
}

.twit-icon {
  font-size: 24px;
}

.twit-content {
  flex: 1 1 90%;
  margin-left: 20px;
}

.twit-content p {
  margin: 0;
}

.twit-content .twit-author {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
